body{
    margin: 0;
}
.main-header{
    width: 100%;
    height: 300px;
    background-color: rgba(34, 34, 220, 0.613);
}
.header{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: inline-block;
}
.header ul{
    text-align: center;
}

.header ul li{
    display: inline;
}

.header ul li a{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    transition-duration: 0.5s;
    padding: 20px;
}

#active{
    border: 1px solid rgba(34, 34, 220, 0.88);
    background-color: rgba(34, 34, 220, 0.724);
    padding: 12px 20px;
}

.header ul li a:hover{
    border: 1px solid rgba(34, 34, 220, 0.88);
    background-color: rgba(34, 34, 220, 0.724);
    padding: 12px 20px;
}

.text-box{
    height: 230px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.text-box > p{
    font-size: 55px;
    color: whitesmoke;
    margin-left: 20px;
}

.content{
    margin: 100px 100px 50px 100px;
}

.c1{
    width: 100%;
    height: 500px;
    /* background-color: rgba(34, 34, 220, 0.613); */
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contentText{
   font-size: 20px;
   animation: fade;
   animation-duration: 1.5s;
   animation-timing-function: ease-in;
  
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

.c1 img{
    animation: slidein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    
}

@keyframes slidein {
    from{
        transform: translateX(460px);
    }
    to{
        transform: translate(0);
    }
}

.card{
    margin: 0 100px 100px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.box{
    background-color: rgba(34, 34, 220, 0.613);
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
}

.box:hover{
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

.box h1{
    color: whitesmoke;
    text-align: center;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1.3fr;
    background-color: #23222e;
    padding: 40px 80px;
    margin-top: 200px;
}

.footer .copy {
    color: #fff;
    margin-top: 100px;
    text-align: left;
}

.bottom-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.bottom-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

.bottom-links .links span {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.bottom-links .links a {
    text-decoration: none;
    color: #a1a1a1;
    padding: 10px 20px;
    font-size: 19px;
    transition: 0.4s;
    color: black;
}
.bottom-links .links a:hover{
    scale: calc(1.1);
    color: rgba(34, 34, 220, 0.613);
}
.links .social{
    font-size: 33px;
    transition: 0.3s;
}
.links .social:hover{
    scale: calc(1.1);
    color:  rgba(34, 34, 220, 0.613);

}